.modal {
    position: fixed;
    margin: auto;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(-100vh);
    transition: all ease-in-out .3s;
}

.modal .background {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
}

.modal .content {
    position: relative;
    top: 60px;
    background-color: #fff;
    padding: 30px;
    margin: 50px;
}

.modal .content > a {
    text-decoration: none;
    color: #000;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    border: 1px solid #000;
    padding: 1px 2px;
    border-radius: 3px;
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.5);
}

.modal.open .background {
    display: block;
}

.modal.open {
    transform: translateY(0);
}

form input, form select, form textarea {
    display: block;
}

.card {
    position: relative;
    float: left;
    width: 30%;
    margin: 10px;
}

.card img{
    float: left;
    margin-right: 20px;
}

.card span {
    display: block;
}

.card span:nth-child(-n+2) {
    padding-right: 33px;
}

.card p {
    clear: both;
}

.card button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 3px 6px;
    border-radius: 15px;
    cursor: pointer;
}